---
layout: default
---

<div class="narrative">
  <h1 class="text-title">{{ page.title }}</h1>
  <small>von {{ page.author }} am <time datetime="{{page.date}}">{{ page.publication-date | date: "%d.%m.%Y" }}</time>
  {{ content }}
  {% if page.post_collection %}
    {% if page.post_collection == "blockchain" %}
      {% include disclosure.html %}
    {% endif %}
    <div><small><a href="{{ site.baseurl }}/{{ page.post_collection }}">← Back to the collection</a></small></div>
  {% endif %}
</div>
